.bouton{
    width: 130px;
    height: 52px;
    border-radius: 5px;
    border: none;
    background: rgba(249, 9, 50, 1);

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    cursor: pointer;

    
 

    
}


    


.image{
  position: relative;
  left:10px;
  bottom: 2px;
}
.texte{
   position: relative;
   left:2px;
   
}
