.bouton{
    width: 130px;
    height: 52px;
    border-radius: 5px;
    border: none;
    background-color:rgba(32, 199, 29, 1);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    
 

    
}


    


.image{
  position: relative;
  left:10px;
}
.texte{
   position: relative;
   left:2px;
   
}
