.container{
    display: flex;
    justify-content: center;
    gap:11px;
    font-family: Roboto;
    font-weight: 550;
    font-size: 30px;
    color: white;
    padding-top: 20px;

}
.texte{
    position: relative;
    top:1.5px;
   
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}